body {
    background: linear-gradient(#07fa74 0%, #fa9107 100%);
    background-repeat: no-repeat;
    text-align: center;
}




.h1 {
    text-shadow: 2px #F8BBD0;
    font size: 20px;
}

p {
    color: #6A1B9A;
    font-size: 18px;


}

.menu {
 list-style: none;
    position: absolute;
    font-family: cursive;
    top: 10px;
   left: 30px;
    z-index: 0;
}

a{
	text-decoration: none;

}

.article:hover;{
	color: darkorange;
}
.button {
  background-color: #5d10e3; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	float: center;
	z-index: 10;
}
img{
transition: transform.2s;
border: 10px solid #d309ed;
z-index: 9;
	
}
img :hover{
transform: scale(0.9);	
	
	
}
